<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>603579419096-a3rpg5d6f6e69a757srks5kfcfb0lqbv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.603579419096-a3rpg5d6f6e69a757srks5kfcfb0lqbv</string>
	<key>API_KEY</key>
	<string>AIzaSyB03YCkP4Ibv168pCZGpS5yWscCbiv5mJk</string>
	<key>GCM_SENDER_ID</key>
	<string>603579419096</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.name.videochat</string>
	<key>PROJECT_ID</key>
	<string>my-video-chat-7ce43</string>
	<key>STORAGE_BUCKET</key>
	<string>my-video-chat-7ce43.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:603579419096:ios:1413b22265d983d0614aad</string>
</dict>
</plist>